
div ##{task.id} #{task.title}
div project: #{task.project}
div version: #{task.version}
div assignee: #{task.assignee}
div status: #{task.status}
p !{task.description}

button(style="margin-top: 30px;")#task-change-status.pure-button.pure-button-primary Change status
